@font-face{
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
        font-family: Roboto;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

/* JAN DEMEL STYLESHEET*/

.container h2{
    font-family:Roboto;
    color:#333;
    text-align:center;
}

.container hr{
    border-color:#333;
    width:70%;
}

.intro{
    background-image:url('../images/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:0px 0px;
    width:100%;
    height:100vh;
    z-index:-10;
}

.intro .name{
    font-size:80px;
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    color:#FFFFFF;
    width:600px;
    text-align:center;
    transform:translate(-300px, -94px);
    border:solid 5px #FFFFFF;
    padding:20px 30px;
    font-family:OpenSans;
}

.intro .appendix{
    color:#FFFFFF;
    font-size:30px;
    width:600px;
    text-align:center;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-300px, 130px);
    font-family:OpenSans;
}

.whatcan{
    margin-top:50px;
    margin-bottom:50px;
    z-index:0;
    position:relative;
}

.whatcan .table tr{
    font-size:20px;
}

.whatcan .table tr td{
    border:none;
    padding:30px;
}

.whatcan .table tr td:before{
    content:url('../images/dot.png');
    margin-right:10px;
}

.whatcan .table tr .left-column{
    text-align:right;
}

.whatcan .table tr .right-column{
    text-align:left;
}

.whatcan .table tr td img{
    margin-right:10px;
}

.parallax1{
    height:350px;
    width:100%;
    position:relative;
    overflow:hidden;
}

.p1_l1{
    width:100%;
    position:absolute;
}

.p1_l2{
    position:absolute;
    display:block;
    width:500px;
    text-align:center;
    top:50%;
    left:50%;
    transform:translate(-250px, -24px);
    font-size:30px;
    color:#FFFFFF;
}

.references{
    margin-top:50px;
    margin-bottom:50px;
}

.aboutme{
}

.aboutme .avatar{
    margin-top:30px;
    border:solid 2px #403055;
    border-radius:100%;
}

.aboutme h3{
    color:#403055;
    font-size:35px;
    margin-bottom:20px;
    font-family:OpenSans;
}

.contactme{
    margin-bottom:30px;
}

.contactme_header{
    background-color:#403055;
    padding:20px 0px;
    margin-top:40px;
}

.contactme_header h2{
    color:#FFFFFF;
}

.contactme_content p{
    margin:40px 0px;
}